<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nerd.TapdaqUnityPlugin" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />

 <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />

  <application>

    <!-- Debug Views -->
    <activity android:name="com.tapdaq.sdk.TMTestActivity" />
    <activity android:name="com.tapdaq.sdk.TMTestNativeActivity" />

    <!-- Tapdaq Cross Promotion -->
    <activity android:name="com.tapdaq.sdk.TMInterstitialActivity" />
    <activity android:name="com.tapdaq.sdk.TMVideoInterstitialActivity" />
    <activity android:name="com.tapdaq.sdk.TMMoreAppsActivity"/>

  </application>

  <!--- Tapdaq Required -->
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Tapdaq optional -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
</manifest>
